@page "/dateGeneralPaymentsSells"
@attribute [Authorize(Roles = "User")]

<MudCardContent>
    <div class="shadow-lg mb-5">
        <MudCard Outlined="true">
            <MudCardContent>
                <h3>Reporte Ventas por Tipo de Pago por Fecha</h3>
                <br />
                <MudGrid Spacing="3">
                    <MudItem xs="12">
                        <ReportDatePaymentGeneric RepDatePaymentDTO="RepDatePaymentDTO" OnSubmit="Create" ReturnAction="Return" />
                    </MudItem>
                    <MudItem xs="12" class="d-flex justify-content-start">
                        <MudButton OnClick="DownloadExcel"
                                   Variant="Variant.Filled"
                            StartIcon="@Icons.Material.Filled.Download"
                            Color="Color.Surface">
                            Excel
                        </MudButton>
                    </MudItem>
                </MudGrid>
                <hr style="height:2px;border:none;color:#333;background-color:#333;" />
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <GenericList MyList="Sells">
                            <Body>
                                <MudSimpleTable Dense="true" Hover="true" Striped="true" Style="overflow-x: auto;">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Venta</th>
                                            <th>Fecha</th>
                                            <th>SubTotal</th>
                                            <th>Impuesto</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Sells!)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Client!.FullName
                                                </td>
                                                <td>
                                                    @item.NroSell
                                                </td>
                                                <td>
                                                    @item.SellDate.ToString("dd-MM-yyyy")
                                                </td>
                                                <td>
                                                    @item.SubTotalCompra.ToString("N2")
                                                </td>
                                                <td>
                                                    @item.ImpuestoTotalCompra.ToString("N2")
                                                </td>
                                                <td>
                                                    @item.TotalCompra.ToString("N2")
                                                </td>
                                                <td style="width:1px; padding-left:1px; padding-right:4px;">
                                                    <MudFab Size="Size.Small"
                                                            Href="@($"/sells/details/{item.SellId}")"
                                                            StartIcon="@Icons.Material.Filled.SpaceDashboard"
                                                            Color="Color.Dark">
                                                    </MudFab>
                                                </td>
                                            </tr>
                                        }
                                        <br />
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Item:@Sells.Count()</td>
                                            <td>
                                                @Sells.Sum(s => s.SubTotalCompra).ToString("N2")
                                            </td>
                                            <td>
                                                @Sells.Sum(s => s.ImpuestoTotalCompra).ToString("N2")
                                            </td>
                                            <td>
                                                @Sells.Sum(s => s.TotalCompra).ToString("N2")
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </MudSimpleTable>
                            </Body>
                        </GenericList>
                    </div>
                </div>

            </MudCardContent>
        </MudCard>
    </div>
</MudCardContent>