<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="_editContext" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />


    <MudTextField Label="@GetDisplayName(() => Product.ProductName)"
                  @bind-Value="@Product.ProductName"
                  For="@(() => Product.ProductName)"
                  Class="mb-4" />
    @if (Categories is null)
    {
        <Loading />
    }
    else
    {
        <MudSelect T="Category" Class="mb-4"
                   Label="Categorias"
                   Value="SelectedCategory"
                   ValueChanged="CategoriesChanged"
                   ToStringFunc="@(e=> e==null?null : $"{e.CategoryName}")"
                   For="@(() => Product.Category)">
            @foreach (var item in Categories!)
            {
                <MudSelectItem Value="item">@item.CategoryName</MudSelectItem>
            }
        </MudSelect>
    }
    <MudTextField Label="@GetDisplayName(() => Product.Description)"
                  @bind-Value="@Product.Description"
                  For="@(() => Product.Description)"
                  Class="mb-4" />
    <MudTextField Label="@GetDisplayName(() => Product.Costo)"
                  @bind-Value="@Product.Costo"
                  For="@(() => Product.Costo)"
                  Class="mb-4" />
    @if (Taxes is null)
    {
        <Loading />
    }
    else
    {
        <MudSelect T="Tax" Class="mb-4"
                   Label="Impuesto"
                   Value="SelectedTax"
                   ValueChanged="TaxesChanged"
                   ToStringFunc="@(e=> e==null?null : $"{e.TaxName}")"
                   For="@(() => Product.Tax)">
            @foreach (var item in Taxes!)
            {
                <MudSelectItem Value="item">@item.TaxName</MudSelectItem>
            }
        </MudSelect>
    }
    <MudTextField Label="@GetDisplayName(() => Product.Price)"
                  @bind-Value="@Product.Price"
                  For="@(() => Product.Price)"
                  Class="mb-4" />
    <MudCheckBox Label="@GetDisplayName(() => Product.WithSerials)"
                 @bind-Value="@Product.WithSerials"
                 For="@(() => Product.WithSerials)"
                 Class="mb-4" />
    <MudCheckBox Label="@GetDisplayName(() => Product.Active)"
                 @bind-Value="@Product.Active"
                 For="@(() => Product.Active)"
                 Class="mb-4" />



    <br />
    <div class="mb-4" style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.ArrowBack"
                   Color="Color.Surface"
                   OnClick="ReturnAction">
            Volver
        </MudButton>
        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Save"
                   Color="Color.Dark"
                   ButtonType="ButtonType.Submit">
            Guardar
        </MudButton>
    </div>
</EditForm>